/* .site {
  display: grid;
  grid-template-columns: 1fr, 2fr, 1fr;
  grid-template-rows: minmax(100px, auto);
  grid-gap: 2em;
  grid-template-areas:
    "header header header"
    "content content content"
    "content content content"
    "footer footer footer";
} */

body {
  margin: 0;
  padding: 0;
  background: #ccc;
  width: 100%;
  font-family; sans-serif;
}

header {
  background-color: #b3cccc;
  padding: 20px;
  /* color: #red; */
  border-style: solid;
  border-color: #4d4d4d;
  text-align: center;
  font-size: 46px;
  width: 100%;
  display: inline-block;
}

header img {
  border: 1px solid #ddd;
   border-radius: 4px;
   margin: 10px;
   margin-left: 20px;
   padding: 10px;
   width: 150px;

}
nav ul {
  background-color: #dde9ee;
  /* color: black; */
  text-align: center;
  width: 100%;
  font-size: 20px;
  list-style-type: none;
  padding: 5px;
  margin: 0px;
}
main {
  width: 300px;
  border: 10px solid #dde9ee;
  padding: 25px;
  margin: 25px;
  position: relative;
}
main p {
  /* display: inline-block; */
  font-size: 20px;
  padding: 5px;
  justify-content: center;
}
nav li {
  /* float: center; */
  display: inline-block;

}

nav li a {
  padding: 20px;
  text-decoration: none;

}
/* section .gallery {
  text-align: center;
} */
section figure img {
max-width: 100%;
height: auto;
}

/* nav a:hover {
   background-color: #005f5f;
 } */

.text {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
