body {
  margin: 0;
  padding: 0;
  background: #ccc;
  width: 100%;
}

header {
  background-color: #b3cccc;
  padding: 20px;
  color: #ffffff;
  border-style: solid;
  border-color: #4d4d4d;
  text-align: center;
  font-size: 46px;
  width: 100%;
}

nav ul {
  background-color: #dde9ee;
  color: black;
  text-align: center;
  width: 100%;
  font-size: 17px;
  position: absolute;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}

nav li {
  /* float: center; */
  display: inline-block;

}

nav li a {
  padding: 20px;
  text-decoration: none;

}

section img {
max-width: 100%;
height: auto;

}

/* nav a:hover {
   background-color: #005f5f;
 } */

.text {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
